#P014 .imageColums2{
	margin-bottom:30px; 
	margin-top: 6px;
}

.textbox{
    font-weight:500!important; 
}

.toastPop .outbox{
	text-indent: 15px;
	width: 450px;
	max-width: 550px;
}

.checkPop .checkBtn:hover{
	background: url(../images/common/ans_check_on.png) 0 0 no-repeat;
	background-size: 100%;
}
.widget .content button{
	font-size: 12px;
	line-height: 1.6;
	text-align: justify;
}

.img_map{
    background:url(../images/014/popimg.png) no-repeat 0 30px;
    background-size:100%;
    width:630px;
    height:900px;
    margin:0 auto;
    margin-top:70px;
}

.imageColums2 .imagebox{position:relative;}
.imageColums2 .imagebox .imageline{
	/*position: relative;*/
}
.full.videoPop .videoHeader{width:728px;height:54px;border:1px solid #199788;background:#199788;}


.pop_hd{
    width:728px;
    height:54px;
    background:#fff;
    border:1px solid #199788;
    position:absolute;
    margin-bottom:16px;
    margin-left:-9px;
}

.pop_hd .title{
    background:#199788;
    width:30%;
    display:inline-block;
    height:100%;
    position:relative;
    top:0px;
    font-size:28px;
    margin-right:41px;
    padding-left:30px;
    padding-top:12px;
    color:#ffea00;
}
.pop_hd .title:after{
    content:'';
    width:0px;height:0px;
    border-top:53px solid #199788;
    border-right:53px solid transparent;
    position:absolute;
    right:-53px;
    top:0px;
}

.pop_hd .titleText{
    font-size:28px;
    color:#22410a;
    letter-spacing:-2px;
    word-break: break-all;
}

