/* 퐁당 사례 */


.case {
    position: absolute;
    right:0px;
    width: 687px;
    height: 710px;
    background: url('../images/common/case_bg_big2.png') no-repeat 0 0;
    background-size:100% 100%;
    padding: 35px 30px 0 60px;
    margin: 75px 0 0 -16px;
}

.case:after {
    content: '';
    display: block;
    clear: both;
}

.case .title {
    position: absolute;
    top: -15px;
    left: 35px;
    width: 331px;
    height: 34px;
    background-image: url('../images/common/case_title.png');
    background-size: 100% 100%;
    padding: 5px 0 0 22px;
    letter-spacing:-0.4px;
    word-spacing:1.2px;
}

.case .title .icon {
    position: absolute;
    top: -36px;
    left: -42px;
    width: 74px;
    height: 68px;
    font-size: 17px;
    line-height: 81px;
    text-indent: 11px;
    font-weight: bold;
    color: #604302;
    background-image: url('../images/common/case_icon.png');
    background-size: 100% 100%;
}

.case .title .titleText {
    font-size: 14px;
    color: #fff;
}

.case .title .titleText .hlt {
    font-size: 15px;
    color: #e3db07;
}

.case .text p{
    font-size:14px!important;
    line-height:21.5px!important;
}

.case .roadText{
    position:relative;
    top:32px;
    left:17px;
}

.case .roadText > div{
    position:absolute;
    padding:23px 10px ;
    text-align:center;
}

.case .roadText > div p{
    font-size:10px!important;
    line-height:16px!important;
    text-indent:8px;
    margin-top:10px;
    text-align:justify;
    word-break:break-all;
}

.case .roadText .road1{
    background:url(../images/024/box1.png) no-repeat 0 0;
    background-size:100% 100%;
    width:207px;
    height:170px;
    top:30px;
    left:40px;
}

.case .roadText .road2{
    background:url(../images/024/box2.png) no-repeat 0 0;
    background-size:100% 100%;
    width:230px;
    height:170px;
    top:30px;
    left:295px;
}


.case .roadText .road3{
    background:url(../images/024/box3.png) no-repeat 0 0;
    background-size:100% 100%;
    width:206px;
    height:170px;
    top:243px;
    left:40px;
}

.case .roadText .road4{
    background:url(../images/024/box4.png) no-repeat 0 0;
    background-size:100% 100%;
    width:236px;
    height:170px;
    top:243px;
    left:295px
}

.case .roadText .box{
        font-size:12px;
    color:#fff;
    padding:4px 9px;
    display:inline-block;
    border-radius:4px;
    position:absolute;
    top:-29px;
    left:6px;
}

.case .roadText .road1 .box{
    background-color:#d9620c;
}

.case .roadText .road2 .box{
    background-color:#428313;
}
.case .roadText .road3 .box{
    background-color:#4a1383;
}
.case .roadText .road4 .box{
    background-color:#134a83;
}


.case .tree{
    background:url(../images/024/ico.png) no-repeat 0 0;
    background-size:100% 100%;
    width:35px;
    height:35px;
    position:absolute;
    bottom:44px;
    right:59px;
}

.checkPop.chk05{
    left:auto;
    bottom:579px;
}

.checkPop .quizbox.quizinput input{
    width: 210px;
}

.checkPop .quizbox.check.quizinput input{
    vertical-align: middle;
}


.images_item{
    position: relative;
    width: 115px;
    height: 120px;
    float: left;
    margin-top: 10px;
    margin-right: 7px;
}
