.view{background:url(../images/020/20.jpg) no-repeat 0 0 / 100% 100%;width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:999;opacity:0.7;}
#P020 #body .content_text p:first-child {
    margin-bottom: 6px;
}


#P020 #body .char,
#P020 #body .mal {
    position: absolute;
    background-size: 100% 100%;
}

#P020 #body .mal {
    font-size: 14px;
    letter-spacing: -0.4px;
}

#P020 #body .content_bottom .map {
    position: relative;
    width: 267px;
    height: 172px;
    background-image: url('../images/020/map.png');
    background-size:100%;
    margin: 20px 0 0 128px;
}

#P020 #body .content_bottom .map .char1 {
    left: -27px;
    bottom: -4px;
    width: 53px;
    height: 115px;
    background-image: url('../images/020/char1.png');
}

#P020 #body .content_bottom .map .char1 .mal {
    left: -107px;
    top: -28px;
    width: 112px;
    letter-spacing: -0.6px;
    background-image: url('../images/020/char1_mal.png');
    padding: 16px 15px 16px 10px;
}

#P020 #body .content_bottom .map .char2 {
    right: -28px;
    bottom: -3px;
    width: 51px;
    height: 115px;
    background-image: url('../images/020/char2.png');
    padding: 9px 15px 0 10px;
}

#P020 #body .content_bottom .map .char2 .mal {
    right: -102px;
    top: -50px;
    width: 106px;
    background-image: url('../images/020/char2_mal.png');
    padding: 8px 11px 8px 20px;
    line-height:17.5px;
}

#P020 #body .content_bottom .textbox {
    width: 282px;
    margin: 8px 0 0 135px;
}

#P020 #body .content_bottom .textbox .text {
    position: relative;
}

#P020 #body .content_bottom .textbox .text span {
    font-size: 12px;
    margin-right: 3px;
}

#P020 #body .content_bottom .textbox .text .icon {
    position: absolute;
    top: 5px;
    left: -20px;
    width: 13px;
    height: 13px;
    background-image: url('../images/common/subtexticon.png');
    background-size: 100% 100%;
}

/* 퐁당 사례 */

.case {
    position: absolute;
    right:35px;
    width: 687px;
    height: 230px;
    background-image: url('../images/common/case_bg.png');
    background-size: 100% 100%;
    padding: 34px 15px 0 31px;
    margin: 45px 0 0 -22px;
}

.case:after {
    content: '';
    display: block;
    clear: both;
}

.case .title {
    position: absolute;
    top: -15px;
    left: 35px;
    width: 263px;
    height: 34px;
    background-image: url('../images/common/case_title.png');
    background-size: 100% 100%;
    padding: 5px 0 0 27px;
    letter-spacing:0.1px;
}

.case .title .icon {
    position: absolute;
    top: -36px;
    left: -42px;
    width: 74px;
    height: 68px;
    font-size: 17px;
    line-height: 81px;
    text-indent: 11px;
    font-weight: bold;
    color: #604302;
    background-image: url('../images/common/case_icon.png');
    background-size: 100% 100%;
}

.case .title .titleText {
    font-size: 14px;
    color: #fff;
}

.case .title .titleText .hlt {
    font-size: 15px;
    color: #e3db07;
}

.case .caseLeft,
.case .caseRight {
    float: left;
    margin-top: -3px;
}

.case .caseLeft {
    width: 138px;
}

.case .caseLeft .imagebox img {
    width: 149px;
}

.case .caseLeft .textbox {
    position: relative;
    top: 2px;
    padding-left: 24px;
}

.case .caseLeft .textbox .icon {
    position: absolute;
    top: 2px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-image: url('../images/common/subtexticon.png');
    background-size: 100% 100%;
}

.case .caseLeft .textbox .text span {
    display: inline-block;
    font-size: 10px;
    letter-spacing: -0.6px;
    line-height: 1.7;
}

.case .caseRight {
    width: 489px;
    padding-left: 28px;
}

.case .caseRight .caseText {
    font-size: 14px;
    text-align: justify;
    line-height: 21.5px;
    letter-spacing:-0.4px;
    text-indent: 15px;
}

.case .caseRight .caseText.btm {
    font-size: 13.5px;
    text-align: right;
    font-weight: normal;
}

