/*Page15*/

*{
    font-family:'NanumBarunGothic';
}

#P015{
    padding-top: 140px;
}

#P015 #top{
    height:30px; 
    margin-bottom: 15px;
}

#P015 #body{margin-top:6px;margin-left: 6px;}

#P015.Page{background:url('../images/013/bg.png') 0 0 no-repeat; background-size:100% 100%; position:relative; }

#P015 #body .mapPopBtn{width:97px; height:63px; background:url('../images/013/sm_map.png') 0 0 no-repeat; background-size:100%; cursor:pointer; float:right; margin-bottom:40px; }


/*탐구활동*/
.actBox{
    position: absolute;
    width: 100%;
    left: 0;
    top: 58px;
}

.databox{
    position: relative;
    height: 185px;
}

.databox .box{
    width: 686px;
    height: 85%;
    position: absolute;
    z-index: 2;
}



.databox_title{
    position: relative;
    margin-bottom: 24px;
}

.box-num{
    width: 63px;
    height: 23px;
    color: #199788;
    font-size: 14px;
    background: url(../images/015/databox_num-.png) 0 0 no-repeat;
    background-size: 100%;
    text-align: left;
    padding-top: 4px;
    font-weight: bold;
    padding-left: 15px;
    float: left;
}

.pagenav{
    margin-top:-7px;
}

.box-title{
    font-size: 15px;
    margin-left: 75px;
    padding-top: 3px;
}


.databox .box .box-contents{
    margin-top: 3px;
}

.databox .box .box-contents > div{
    float: left;
    margin-left: 3px;
    position:relative;
    
}

.databox .box .box-contents > div:first-child{
    width:190px;
    margin-left: 15px;
}

.databox .box .box-contents > div:first-child > div.con{
    position:absolute;
    top:23px;
    left:29px;
}

.databox .box .box-contents > div:first-child > div.con img{
    width:151px;
}

.databox .box .box-contents > div:nth-child(2){
    width:290px;
}

.databox .box .box-contents > div:nth-child(2) > div.con{
    position:absolute;
    top:23px;
    left:36px;
}

.databox .box .box-contents > div:nth-child(2) > div.con img{
    width:271px;
}

.databox .box .box-contents > div:nth-child(3){
    width:145px;
    margin-left:29px;
}

.databox .box .box-contents > div:nth-child(3) > div.con{
    position:absolute;
    top:24px;
    left:34px;
}

.databox .box .box-contents > div:nth-child(3) > div.con img{
    width:125px;
}


.databox .box .box-contents .con img{
    width: 100%;
}
.quizBox{
    margin-top:60px;
}

.quizBox .quizText .text{
    letter-spacing: 0.1px;
    font-weight: 500;
}

.quizBox .quizText .text .gtext{
    color:#199788;
}

.quizBox .essay textarea{
    border: 1px solid #ededed;
    background: #fff;
    resize: none;
    margin-left: 26px;
    width: 655px;
    height: 121px;
    margin-top: 5px;
    padding:10px;
    font-size:13px;
}


#slefCheck{
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 3;
}

#slefCheck .bgef{
    width: 737px;
    height: 49px;
    background: url('../images/015/bg_ef.png') 0 0 no-repeat;
    background-size:100%;
    position: absolute;
    bottom: -78px;
    left: 20px;
}

#slefCheck .selfcheckbox{
    width: 688px;
    position: absolute;
    bottom: -41px;
    left: 41px;
    background: url('../images/015/slef_check_title_arrow.png') 0 0 no-repeat;
    background-size:100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#slefCheck .selfcheckbox.down{
    height: 90px;
}

#slefCheck .selfcheckbox.up{
    height: 850px;
}

#slefCheck .selfcheckbox .titlebox{
    width: 200px;
    height: 53px;
    position: absolute;
    left: 245px;
    top: 0px;
    vertical-align: middle;
    cursor: pointer;
}

#slefCheck .selfcheckbox .titlebox span{
    vertical-align: top;
    display: inline-block;
    color:#fff;
    font-size: 17px;
}

#slefCheck .selfcheckbox .titlebox .arrow{
    width: 15px;
    height: 10px;
    background: url('../images/015/selfcheck_title_arrow.png') 0 0 no-repeat;
    background-size: 100%;
    margin-top: 30px;
    margin-left: 19px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#slefCheck .selfcheckbox.down .titlebox .arrow{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#slefCheck .selfcheckbox.down .titlebox .title span:nth-child(1){
    margin-top: 25px;
}

#slefCheck .selfcheckbox.down .titlebox .title span:nth-child(2){
    margin-left: 9px;
    margin-top: 18px;
    color: #faa600;
}

#slefCheck .selfcheckbox.down .titlebox .title span:nth-child(3){
    margin-top: 10px;
}

#slefCheck .selfcheckbox.down .titlebox .title span:nth-child(4){
    margin-top: 25px;
    margin-left: 6px;
}

.selfcheckbox .content div.chk_wrap div.ans-input > ul:before{
    content:'';
    width:1px;
    height:237px;
    border-left:1px dotted #7d7d7d;
    position:absolute;
    top:37px;
}

.selfcheckbox .content div.chk_wrap div.ans-input > ul li ul:before{
    content:'';
    width:1px;
    height:50px;
    border-left:1px dotted #ccc;
    position:absolute;
    top:12px;
}

.selfcheckbox .content div.chk_wrap div.ans-input > ul li:nth-child(2) > ul:before{
    content:'';
    width:1px;
    height:68px;
    border-left:1px dotted #ccc;
    position:absolute;
    top:12px;
}

.selfcheckbox .content div.chk_wrap div.ans-input > ul > li{
    background-size:12px 1px;
    padding-left:29px;
}


.selfcheckbox .content div.chk_wrap div.ans-input li{
    background:url(../images/common/chk_anng.png) no-repeat 0 10px ;
    background-size:7px 1px;
    padding-left:17px;
    font-size:15px;
    color:#2f2f2f;
    position:relative;
    margin-bottom:79px;
    letter-spacing:-0.6px;
}

.selfcheckbox .content div.chk_wrap div.ans-input > ul > li:before{
    content:'';
    width:6px;
    height:6px;
    background-color:#7d7d7d;
    border-radius:50%;
    position:absolute;
    top:7px;
    left:12px;    
}

.selfcheckbox .content div.chk_wrap div.ans-input li:before{
    content:'';
    width:6px;
    height:6px;
    background-color:#7d7d7d;
    border-radius:50%;
    position:absolute;
    top:7px;
    left:7px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li:nth-child(2) > ul{
    position:absolute;
    left:112px;
    top:1px;
    width:415px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li:nth-child(3) > ul{
    position:absolute;
    left:112px;
    top:-13px;
    width:405px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li > ul > li{
    margin-bottom:54px;
}



.selfcheckbox .content div.chk_wrap div.ans-input li:nth-child(3) > ul > li{
    margin-bottom:32px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li > ul > li li{margin-bottom:31px;}

.selfcheckbox .content div.chk_wrap div.ans-input li:nth-child(2) > ul ul{
    position:absolute;
    left:51px;
    top:-38px;
}

.selfcheckbox .content div.chk_wrap div.ans-input{
    position:relative;
    height:393px;
}

/*정답팝업*/

.toastPop .angle:before         {
    content:''; display:block; position:absolute; 
    top:-109px; 
    border:15px solid transparent; 
    border-bottom:15px solid #199788; 
}
.toastPop .angle:after          {
    content:''; display:block; position:absolute; 
    top:-103px; 
    border:15px solid transparent;
    border-bottom:15px solid #fff; 
}

.toastPop .closeBtn             {
    width:15px; height:15px; 
    position:absolute; 
    right:5px; bottom:5px; 
    background:url('../images/common/toast_pop_close.png') 0 0 no-repeat; 
    background-size:cover; 
}

.toast_color{
    color: #ff6600;
    font-family:"NanumSquare" !important;

}

.toastPop div.ans-input span{display:inline-block;}

.toastPop div.ans-input span.ans{
    vertical-align:top;
    width:80%;
}

.toastPop div.ans-input li{margin-bottom:35px!important;}

.toastPop div.ans-input li:nth-child(2) > ul{top:-20px!important;}

.toastPop div.ans-input li:nth-child(2) > ul ul{top:-20px!important;}

.toastPop div.ans-input li > ul > li li{margin-bottom:5px!important;}

.toastPop div.ans-input li > ul > li{margin-bottom:22px!important;}

.toastPop div.ans-input li:nth-child(3) > ul{top:-4px!important;}

.toastPop div.ans-input li:nth-child(3) > ul > li{margin-bottom:-4px!important;}

.toastPop div.ans-input > ul:before{height:159px!important;}

.toastPop div.ans-input > ul li ul:before{height:33px!important;}

.toastPop div.ans-input > ul li:nth-child(2) > ul:before{height:49px!important;}

.toastPop div.ans-input > ul li:nth-child(3) > ul:before{height:52px!important;}

.toastPop div.ans-input{height:340px!important;}

/**/
.actBox .actTitleBox .icons div.icon3{
    margin-left: 9px;
}

.quizInputAnswer{
    line-height: 27px;
}