/* 단원 시작 */
.Page #top .titleBox		{margin-top:15px; padding:16px 0 11px 27px; position:relative; border:2px solid #c7cacb; border-radius:20px; float:right; width:630px; height:66px; }
.Page #top .titleBox .num	{width:94px; height:115px; background:url('../images/012/titleNumbg.png') 0 0 no-repeat; background-size:100% 100%; text-align:center; color :#d9620c; font-size:45px;
							position:absolute; top:-22px; left:-64px; padding-top:21px; letter-spacing:5px; }
.Page #top .titleBox .text	{font-size:30px; color:#242424; letter-spacing:-1.1px; margin-left:20px; font-weight:bold; }

.Page #top .buttons{text-align:right; margin-top:26px; margin-bottom:26px;margin-right:5px;}
.Page #top .buttons	.layerPopBtn2 	{

}
/* 단원 시작 */


/* 탐구활동 */
.actBox{position:absolute; width:100%; left:0; bottom:78px;}
.actBox .imageBox{width:691px; height:415px; background:url('../images/012/pageImg.png') 0 0 no-repeat; background-size:100% 100%; margin:30px auto 0; }
/* 생각 열기 */


#P012 #layerPop1{top:210px; right:40px; }
#P012 #layerPop1:before{left:460px; }

#P012 #layerPop2{top:210px; right:40px; }
#P012 #layerPop2:before{left:580px; }

#P012 #layerPop1 ul li{margin-top:15px; padding-left:20px; position:relative;}
#P012 #layerPop1 ul li:first-child{margin-top:0; }
#P012 #layerPop1 ul li:before{content:''; display:block; width:26px; height:27px; background:url('../images/common/icon05.png') 0 0 no-repeat; background-size:100%; position:absolute; top:-6px; left:-15px; }
#P012 #layerPop2 ul{position:relative; margin-left:20px; }

#P012 #layerPop2 ul li{padding-left:30px; position:relative; float:left;}
#P012 #layerPop2 ul:before{content:''; display:block; width:22px; height:26px; background:url('../images/common/icon07.png') 0 0 no-repeat; background-size:100%; position:absolute; top:-6px; left:-15px; }
#P012 #layerPop2 ul li:before{content:'|'; display:block; width:22px; height:26px; background-size:100%; position:absolute; top:0px; left:12px; }
#P012 #layerPop2 ul li:first-child:before{content:''; }
#P012 #layerPop2 ul li button{font-size: 15.5px}


/**/

.toastPop2{
    z-index: 1;
    left: -335px;
}

.toastPop2 .outbox{
    width: 450px;
    max-width: 450px; 
}

.toastPop2 .innerbox{
    text-indent: 15px;
    text-align: justify;
}

/**/
.actBox .actTitleBox .icons div.icon2,
.actBox .actTitleBox .icons div.icon3{
	margin-left: 9px;
}

.actBox .actTitleBox .icons div.icon1{background-position:center 5px;}