
.evchk input{display:none;}

button{
    border:none;
}


#P156 #top{
}


#P156.Page{
    background: #fff url('../images/common/page_bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#P156 #top .title span{
    display: inline-block;
    vertical-align: top;
}

#P156 #top .title .ns{
    font-size: 45px;
    color: #529e1c;
}

#P156 #top .title .np{
    font-size: 50px;
    color: #6cb13b;
    margin-left: 2px;
    margin-top:-6px;
}

#P156 #body{
    margin-top: 3px;
    background:url('../images/156/page_content_bg.png') 0 0 no-repeat;
    background-size: 100%;
    width: 737px;
    height: 856px;
    position: relative;
}

#P156 #body h3{
    position: absolute;
    top: 46px;
    left: 28px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 4px;
}

#P156 .pagenav{
    position: absolute;
    top: 41px;
    right: 38px;
    z-index:5;
}

#body .swiper-container{
    width: 100%;
    margin-left: 10px;
}

#body .contentbox{
    padding: 25px;
    padding-left:21px;
}

#body .contentbox .box-title{
    margin-top: 27px;
    margin-left: 5px;
}

#body .contentbox .box-title span{
    color:#242424;
    font-size:15px;
    vertical-align: top;
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    letter-spacing: -0.1px;
    font-weight: bold;
}

#body .contentbox .box-title .num{
    color:#f59000;
    font-size: 25px;
    margin-top: 0;
    margin-left: 0;
    letter-spacing: 0;
}

#body .contentbox .mindmap{
    position: relative;
    background: url('../images/156/p1.jpg') 0 0 no-repeat;
    background-size:100%;
    width:100%;
    height: 693px;
}



#body .contentbox .mindmap .box .bottom ul.list1 li:first-child{
    list-style: none;
    list-style-type: none;
    margin-left: 0px;
    letter-spacing: 0px;
}

#body .contentbox .mindmap .box .bottom ul.list1 li:before{
    content: '';
    display: none;
}

#body .contentbox .mindmap .box .bottom ul li .gtext{
    color: #ff6600;
    font-weight: bold;
    font-size:13px;
    position:relative;
    top:1px;
}
/*하단*/

#body .contentbox .mindmap .ansbox{
    position: absolute;
    width: 180px;
    height: 30px;
    border: 1px solid #999;
    color: #333;
    border-radius: 1px;
    font-family: "NanumBarunGothic";
    top:-4px;
    left:23px;
    text-align: center;
}

#body .contentbox .mindmap .ansbox input{
    font-family: "NanumBarunGothic";
    position: absolute;
    width: 100%;
    height: 100%;
    background:#fff;
    top: 0;
    left: 0;
    border-radius: 1px;
    line-height: 30px;
    text-align:center;
    font-size: 15.5px;
}

#body .contentbox .mindmap .ansbox .answer{
    top:28px;
    background:transparent;
    color:#ff6600;
    visibility:hidden;
}
.mask{
    position: absolute;
    width:203px;
}

.input_wrap .ansText{
    text-align:center;
    left:0px;
    top:28px;
    padding-left:23px;
}
#body .contentbox .mindmap .box.pd .bottom ul li{margin-top:2px;}
#body .contentbox .mindmap .box:nth-child(6) .bottom ul li:before{top:8px;}

/*핵심질문완성*/
.ev_wrap{
    width:660px;
    margin:43px auto 36px;;
}

.ev_wrap span{
    display:inline-block;
}

.ev_wrap .hd span{
    color:#737373;
    text-align:center!important;
    position:relative;
    font-size:14px;
}

.ev_wrap .eval{
    padding-top:15px;
    background:url(../images/156/line.png) 0 0 no-repeat;
    background-size:100%;
    width:100%;
    margin-bottom:12px;
}

.ev_wrap .eval > span{vertical-align:top;}

.ev_wrap .hd span:before{
    content:'';
    width:1px;
    height:16px;
    background:#939393;
    display:inline-block;
    position:absolute;
    top:1px;
    left:0px;
}
.ev_wrap .hd span:first-child:before{
    left:18px;
}

.ev_wrap span.que{
    width:150px;
    text-align:justify;
    font-size:14px;
    line-height:20px;
    padding:0 15px 0 30px;
    position:relative;

}

.ev_wrap span.que .num{
    color:#fff;
    font-size:12px;
    width:27px;
    height:27px;
    border-radius:50%;
    border:2px solid #fff;
    box-shadow:1px 1px 1px #ccc;
    background:#529e1c;
    text-align:center;
    line-height:25px;
    position:absolute;
    top:-5px;
    left:-13px;
}
.ev_wrap span.input{
    width:215px;
    padding:0 4px;
    position:relative;
}

.ev_wrap span.input textarea{
    width:100%;
    background:#fff;
    height:100%;
}

.ev_wrap span.ev_c{
    width:141px;
    padding:0 10px;
}
.ev_wrap span.ev_c ul li{
    float:left;
    font-size:13px;
    position:relative;
    margin-right:25px;
}

.ev_wrap span.ev_c ul li:last-child{
    margin-right:0px;
}

.ev_wrap span.ev_c ul li input[type="radio"]+label{
    width:12px;
    height:12px;
    border:1px solid #529e1c;
    border-radius:50%;
    position:absolute;
    top:-22px;
    left:6.5px;
    cursor:pointer;
}

.ev_wrap span.ev_c ul li input[type="radio"]+label:after{
    content:'';
    width:37px;
    height:1px;
    background:#939393;
    display:inline-block;
    position:absolute;top:4px;left:11px;
}


.ev_wrap span.ev_c ul li:last-child input[type="radio"]+label:after{
    width:0px;
}

.ev_wrap span.ev_c ul li input[type="radio"]:checked+label{
    background:#529e1c;
}
.ev_wrap span.re_page{
    width:130px;
    padding:0 18px;
    font-size:14px;
    cursor:pointer;
}
.ev_wrap span.re_page span.ico{
    background:url(../images/common/repage.png) 0 0 no-repeat;
    background-size:16px 16px;
    width:16px;
    height:16px;
    margin-right:4px;
}
.ev_wrap span.re_page span.page{
    font-size:14px;
    position:relative;
    top:-3px;
}
}

.ev1{height:83px;}
.ev1 .ev_c{margin-top:30px;}
.ev1 .re_page{margin-top:16px;}
.ev2{height:111px;}
.ev2 .ev_c{margin-top:45px;}
.ev2 .re_page{margin-top:30px;}
.ev3{height:95px;}
.ev3 .ev_c{margin-top:36px;}
.ev3 .re_page{margin-top:22px;}

/*이단원배우고나는?*/
.st_wrap{
    padding-left:6px;
}
.st_test{
    margin-top:33px;
}
.st_test span{display:inline-block;}

.st_test span.num{
    color:#529e1c;
    font-size:14px;
    vertical-align:top;
    margin-right:10px;
}
.st_test span.txt{
    width:426px;
    margin-right:75px;
    font-size:14px;
    vertical-align:top;
}

.st_test span.y_n ul li{
    float:left;
    font-size:13px;
    position:relative;
    margin-right:20px;
    margin-top:15px;
}

.st_test span.y_n ul li:last-child{
    margin-right:0px;
}

.st_test span.y_n ul li input[type="radio"]+label{
    width:12px;
    height:12px;
    border:1px solid #529e1c;
    border-radius:50%;
    position:absolute;
    top:-16px;
    left:12px;
    cursor:pointer;
}

.st_test span.y_n li  input[type="radio"]+label:after{
    content:'';
    width:43px;
    height:1px;
    background:#939393;
    display:inline-block;
    position:absolute;top:4px;left:11px;
}


.st_test span.y_n li:last-child  input[type="radio"]+label:after{
    width:0px;
}

.st_test span.y_n li  input[type="radio"]:checked+label{
    background:#529e1c;
}

.evchk li{cursor:pointer;}

.quizInputAnswer{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    font-size:13px;
    line-height:1.5;
    margin-top:0;margin-left:0px;
    background:#fff;
    height:100%;
    overflow:auto;
    padding:2px 7px;
}

/*마인드맵위치맞추기*/

.mindmap .word .main{
    font-size: 17px;
    text-align:center;
    line-height:1.1;
}

.mindmap .word .sub_main{
    font-size: 15px;
    text-align:center;
    line-height:1.1;
}

.mindmap .word span.mg{margin:0 10px;}

.mindmap .word > div{
    font-size:15px;
    text-align:center;
    position:absolute;
    letter-spacing:-0.4px;
}

.mindmap .word > div span{
    display:inline-block;
    text-align:center;
    font-size:15px;
    color:#ff6600;
    line-height:1;
}

.box1{left: 310px;top: 208px;}

.box2{left: 280px;top: 127px;}
.box2-1{top: 35px;left: 162px;}
.box2-11{top: 35px;left: 30px;}
.box2-2{left: 162px;top:134px;}
.box2-21{left: 36px;top: 130px;}
.box2-3{top: 250px;left: 195px;}
.box2-31{top: 240px;left:40px;text-align:left !important;padding-left:5px;}

.box3{top: 125px;left: 357px;}
.box3-1{top: 58px;left: 405px;}
.box3-11{top: 27px;left: 480px;}
.box3-2{top: 100px;left: 475px;}
.box3-22{top: 30px;left:531px;}

.box4{top: 295px;left: 270px;}
.box4-1{top: 170px;left: 530px;}
.box4-11{top: 345px;left: 35px;text-align:left !important;padding-left:5px;}

.box5{top: 215px;left: 440px;}
.box5-1{top: 230px;left: 520px;}

.box6{top: 295px;left: 470px;}
.box6-1{top:314px;left:526px;}

.box7{top: 360px;left: 390px;}
.box7-1{top: 380px;left: 410px;}

.box3-222{top: 110px;left:520px;}


.box2-33{top: 340px;left: 200px;}
.box5-11{top: 160px;left: 485px;}
.box5-111{top: 295px;left: 380px;}

/**/
.btn_wrap{right:460px;top:52px;}
.box-title:before{display:none;}