/*Page25*/
span.ans{width:100px;height:100px;background:red;}

*{
    font-family:'NanumBarunGothic'
}

#P025{
    padding-top: 140px;
}

#P025 #top{height:35px;margin-top:-14px;}

#P025 #body{margin-top:6px;margin-left: 6px;}

#P025.Page{background:url('../images/013/bg.png') 0 0 no-repeat; background-size:100% 100%; position:relative; }

#P025 #body .mapPopBtn{width:97px; height:63px; background:url('../images/013/sm_map.png') 0 0 no-repeat; background-size:100%; cursor:pointer; float:right; margin-bottom:40px; }


/*탐구활동*/
.actBox{
    position: absolute;
    width: 100%;
    left: 0;
    top: 58px;}

.actBox .actTitleBox .icons{
    float: right;
    margin-top: 6px;
    margin-right: 40px;
}

.actBox .actTitleBox .icons div.icon1{
    background: url(../images/021/icon01-.png) 0 0 no-repeat;
    background-size: 20px;
    background-position: center 4px;
}
.actBox .actTitleBox .icons div.icon4 {
    background: url(../images/017/icon02-.png) 0 0 no-repeat;
    background-size: 20px;
    background-position: center 3px;
}
.databox{
    position: relative;
    margin-top: 15px;
    height: 300px;
    margin-bottom:20px;
}

.databox .box{
    width: 686px;
    height: 100%;
    position: absolute;
    z-index: 2;
    padding: 20px 19px 0px 19px;
}

.databox .box .box-contents{
    margin-top: 24px;
}

.databox .box .box-contents > div{
    float: left;
    margin-left: 20px;
}

.databox .box .box-contents > div:first-child{
    margin-left: 30px;
}

.quizBox .quizText .text{
    letter-spacing: -0.8px;
    font-weight:500;
}

.quizBox .quizText .text .gtext{
    color:#144d00;
}

.quizBox .essay textarea{
    border: none;
    background: #fff;
    resize: none;
    margin-left: 26px;
    width: 655px;
    height: 210px;
    margin-top: 5px;
    padding:10px;
    font-size:13px;
}


/*table*/

.left_cont{
    width:385px;
    float:left;
}

table.cont-table_top{
    width:100%;
    border-collapse:collapse;
    background:url(../images/025/tablebg.png) 0 0 no-repeat;
    background-size:100%;
    table-layout:fixed;
}

/*
table.cont-table_top tr:nth-child(3) td{top:7px;}
table.cont-table_top tr:nth-child(4) td{top:6px;}
table.cont-table_top tr:nth-child(5) td{top:2.5px;}
table.cont-table_top tr:nth-child(6) td{top:1.5px;}
table.cont-table_top tr:nth-child(7) td{top:-3px;}
*/
table.cont-table{
    width:100%;
    border-collapse:collapse;
}

table.cont-table_top th{
    color:#fff;
    font-weight:500;
    font-size:12px;
    text-align:center;
    padding:6px 0px;
    height:12px;
    position:relative;
}

table.cont-table_top th:last-child{
    border-right:0px;
}

table.cont-table_top td{
    font-size:11px;
    text-align:center;
    padding:13px 0;
    position:relative;
    line-height:1;
}

table.cont-table_top tr{}

.quizBox table.cont-table_top tr.table_pd td{
    position:relative;
    padding:8px 0px;
}


.quizBox table.cont-table_top td .actText{
    line-height:33px;
}

table.cont-table_top tr.table_pd td{
    padding:7px 0px;
}

table.cont-table_top td.tableBg{
    border-bottom:0px;
    display:inline-block;
}

table.cont-table_top td.tableBg:before{
    content:'';
    display:block;
}

table.cont-table_top td.sch{
    text-align:left;
    line-height:24px;
    padding-left:35px;
}

table.cont-table_top td.sch .sch_wrap{
    margin-top:6px;
}

table.cont-table_top td.sch span.wrap{
    display:inline-block;
    margin-bottom:17px;
    position:relative;
}

table.cont-table_top td.sch span.wrap:last-child{margin-bottom:0px;}

table.cont-table td.sch span.wrap span{position: relative;width:100px;padding-top:8px;}

table.cont-table th{
    background:#8a9b4e;
    color:#fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight:500;
    font-size:12px;
    text-align:center;
    border-right:1px solid #fff;
    padding:7px 0px;
}

table.cont-table th:last-child{
    border-right:0px;
}

table.cont-table td{
    border-left:1px dotted #acadae;
    border-bottom:1px solid #acadae;
    font-size:11px;
    text-align:center;
    padding:8px 0px;
    position:relative;
}

.quizBox table.cont-table tr.table_pd td{
    position:relative;
    padding:8px 0px;
}


.quizBox table.cont-table td .actText{
    line-height:33px;
}

table.cont-table tr.table_pd td{
    padding:2px 0px;
}

table.cont-table td.tableBg{
    border-bottom:0px;
    display:inline-block;
}

table.cont-table td.tableBg:before{
    content:'';
    display:block;
}

table.cont-table td.sch{
    text-align:left;
    line-height:24px;
    padding-left:10px;
}

table.cont-table td.sch .sch_wrap{
    padding-top:5px;
}

table.cont-table td.sch span.wrap{
    display:inline-block;
    margin-bottom:4px;
    position:relative;
}

table.cont-table td.sch span.wrap:before{
    background:url(../images/025/talbe-item.png) no-repeat 0px 0px;
    background-size:100% 100%;
    width:10px;
    height:25px;
    display:inline-block;
    content:'';
    position:relative;
    margin-right:10px;
    top:8px;
}

table.cont-table td.sch span.wrap span input{width:100%;}

table.cont-table td.sch span.wrap span{position: relative;width:100px;padding-top:8px;}

table.cont-table td:first-child{
    border-left:0px;
}

table.cont-table tr:last-child td,table.cont-table tr:nth-child(3) td:last-child{
    border-bottom:0px;
}

.right-contents{
    float:left;
    width:190px;
    height:225px;
    background:url(../images/025/cont-item.png) no-repeat right bottom ;
    background-size:100% 82%;
    
}

.cont-title{
    width:70px;
    height:23px;
    font-size:12px;
    color:#fff;
    background:#529e1c;
    border-radius:8px;
    border:2px solid #fff;
    box-shadow:2px 2px 2px #ccc;
    text-align:center;
    line-height:20px;
    margin:0 auto;
    margin-bottom:7px;
}


.quizBox table.quiz-table{
    width:622px;
    margin:0 auto;
    border-collapse:collapse;
    margin-top:30px;
}

.quizBox table.quiz-table tr{
    background:#fff;    
}

.quizBox table.quiz-table.ans{
    margin:15px auto;
}

.quizBox .quiz-table tr th{
    color:#fff;
    font-size:12px;
    text-align:center;
    padding:6px 0px;
    background:#8c8c8c;
    font-weight:500;
    border:1px solid #a8a8a8;
}

.quizBox .quiz-table tr th:first-child{
    border-left:0px;
}

.quizBox .quiz-table tr th:last-child{
    border-right:0px;
}

.quizBox .quiz-table.ans tr td{
    padding:6px 0px;
}

.quizBox .quiz-table tr td{
    font-size:12px;
    text-align:center;
    color:#242424;
    padding:6px 0px;
    border-bottom:1px solid #909090;
    border-right:1px solid #909090;
    position:relative;
}

.toast .quiz-table tr td{line-height: 1.5;}


.quizBox .quiz-table tr td:last-child{
    border-right:0px;
}

.quizBox .quiz-table.ans tr td.ans{
    color:#f75b32;
}

.quizBox .quiz-table tr td input{
    width:90%;
    margin:0 auto;
    height:100%;
    text-align:center;
    border:1px solid #ededed;
}

.markBtn {
    left:190px; 
    top:27px; 
}

/*****************************/


.selfcheckbox .content div.chk_wrap div.ans-input > ul li ul:before{
    content:'';
    width:1px;
    height:197px;
    border-left:1px dotted #ccc;
    position:absolute;
    top:10px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li{
    background:url(../images/common/chk_anng.png) no-repeat 0 7px ;
    background-size:12px 1px;
    padding-left:15px;
    font-size:15px;
    color:#2f2f2f;
    position:relative;
    margin-bottom:32px;
    letter-spacing:-0.6px;
}

.selfcheckbox .content div.chk_wrap div.ans-input ul > li.line{
    background:none;
    padding-left:0px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li:nth-child(1) > ul{
    position:absolute;
    left:68px;
    top:-4px;
    width:465px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li > ul > li{
    margin-bottom:45px;
}
.selfcheckbox .content div.chk_wrap div.ans-input{
    position:relative;
    height:325px;
}


.selfcheckbox .content div.chk_wrap div.ans-input > ul > li:before{
    content:'';
    display:none;
}

.selfcheckbox .content div.chk_wrap div.ans-input li:before{
    content:'';
    width:6px;
    height:6px;
    background-color:#7d7d7d;
    border-radius:50%;
    position:absolute;
    top:5px;
    left:7px;
}

/**/
.actBox .actTitleBox .icons div.icon2,
.actBox .actTitleBox .icons div.icon3{
    margin-left: 9px;
}
.actText{
    background:#fff;
}

.quizInputAnswer{
    margin-left: 26px;
}

.toastPop.left .angle:before{
    top: -20px;
    left: -1px;
    border-left: 15px solid #199788;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 16px solid transparent;
}

.toastPop.left .angle:after{
    top: -20px;
    left:-7px;
    border-left: 15px solid #fff;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 16px solid transparent;
    
}
.inner_text{
    display: inline-block;
    width:280px;
    float:left;
}

.quizBox textarea{
    height:95px!important;
}

.cont-table tr{background:#fff;}