

.Page #top{
    position: relative;
    z-index: 2;
}

/* 단원 시작 */
.Page #top .titleBox		{margin-top:15px; padding:15px 0 11px 29px; position:relative; border:2px solid #c7cacb; border-radius:20px; float:right; width:630px; height:66px; }
.Page #top .titleBox .num	{
    width:94px; height:115px;
    background:url('../images/012/titleNumbg.png') 0 0 no-repeat; 
    background-size:100% 100%; text-align:center; color :#d9620c; 
    font-size:45px;
    position:absolute; 
    top:-22px; 
    left:-63px; 
    padding-top:21px;
    padding-left: 7px;  
    letter-spacing:5px; 
}
.Page #top .titleBox .text	{font-size:30px; color:#242424; letter-spacing:-1.1px; margin-left:20px; font-weight:bold; }

.Page #top .buttons{text-align:right;position: relative;z-index: 2;margin:25px 5px 26px 0;}

.Page #body{
    margin-top: 373px;
}


.hword{
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-indent: 0;
}

.Page #bottom{
    position: absolute;
    bottom: 0;
}

/* p016 추가 */

#P016 .mal {
    position: absolute;
    text-align: center;
    background-size: 100% 100%;
}

#P016 .thinkOpenBox {
    background-image: url('../images/016/top_bg.png');
    background-size: 100% 100%;
    padding: 10px 41px 9px;
    margin-left: 30px;
    position: absolute;
    left: -65px;
    top: 120px;
    width: 768px;
}

#P016 .thinkOpenBox .thinkOpenTitle {
    margin-bottom: 20px;
}

#P016 .thinkOpenBox .thinkOpenTitle .icon {
    display: inline-block;
    width: 23px;
    height: 28px;
    background-image: url('../images/common/thinkicon.png');
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 4px;
}

#P016 .thinkOpenBox .thinkOpenTitle .thinkText {
    font-size: 15.5px;
    font-weight: bold;
    color: #f75b31;
    vertical-align: middle;
    position:relative;
    top:4px;
    left:-7px;
}

#P016 .thinkOpenBox .thinkContent {
    position: relative;
}

#P016 .thinkOpenBox .thinkContent .bgCon {
    position: relative;
    width: 330px;
    height: 160px;
    background-image: url('../images/016/item01.png');
    background-size: 100% 100%;
    margin: 23px 0 14px 221px;
    font-size: 14px;
}

#P016 .thinkOpenBox .thinkContent .bgCon .mal1 {
    top: -18px;
    left: 20px;
    width: 63px;
    height: 50px;
    background-image: url('../images/016/bg_mal1.png');
    padding: 4px;
}

#P016 .thinkOpenBox .thinkContent .bgCon .mal2 {
    top: 4px;
    left: 84px;
    width: 83px;
    height: 62px;
    background-image: url('../images/016/bg_mal2.png');
    padding: 9px;
}

#P016 .thinkOpenBox .thinkContent .char1 {
    position: absolute;
    top: 13px;
    left: 176px;
    width: 42px;
    height: 133px;
    background-image: url('../images/016/char1.png');
    background-size: 100% 100%;
}

#P016 .thinkOpenBox .thinkContent .char1 .mal {
    top: -57px;
    left: -105px;
    width: 115px;
    height: 95px;
    background-image: url('../images/016/char1_mal.png');
    padding-top: 7px;
    font-size: 14px;

}

#P016 .thinkOpenBox .thinkContent .char2 {
    position: absolute;
    top: 0;
    right: 125px;
    width: 59px;
    height: 145px;
    background-image: url('../images/016/char2.png');
    background-size: 100% 100%;
}

#P016 .thinkOpenBox .thinkContent .char2 .mal {
    top: -40px;
    right: -124px;
    width: 135px;
    height: 92px;
    background-image: url('../images/016/char2_mal.png');
    padding: 16px 0 0 0;
    font-size: 14px;
}

#P016 .thinkOpenBox .thinkContent .blankQuiz.q2 {
    margin-bottom: 0;
}

#P016 .thinkOpenBox .thinkContent .blankQuiz .num {
    display: inline-block;
    width: 22px;
    height: 23px;
    color: #fff;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    background-image: url('../images/016/think_num.png');
    background-size: 100% 100%;
    margin-right: 2px;
}

#P016 .thinkOpenBox .thinkContent .blankQuiz .text {
    color: #3c4552;
    vertical-align: middle;
    letter-spacing: -0.4px;
    font-size: 14px;
}

#P016 .thinkOpenBox .thinkContent .blankQuiz .quizInputBox {
    display: block;
    width: 613px;
    height: 22px;
    padding-left: 27px;
    margin-top: 8px;
}

#P016 .thinkOpenBox .thinkContent .blankQuiz .quizInputBox input {
    width: 614px;
    height: 100%;
    box-shadow: inset 0 0 2px rgba(0,0,0,.21);
    padding: 0 5px;
}

#P016 .thinkOpenBox .thinkContent {
    position: relative;
}

#P016 .content_bottom{
    margin-top: 19px;
}

#P016 .content_bottom .mal {
    letter-spacing: -0.5px;
    font-size: 14px;
}

#P016 .content_bottom .bgCon {
    position: relative;
    width: 518px;
    height: 182px;
    background-image: url('../images/016/item03.png');
    background-size: 100% 100%;
}

#P016 .content_bottom .bgCon .char1 {
    position: absolute;
    bottom: 2px;
    left: 62px;
    width: 77px;
    height: 94px;
    background-image: url('../images/016/bottom_char1.png');
    background-size: 100% 100%;
}

#P016 .content_bottom .bgCon .char1 .mal {
    top: -63px;
    left: -49px;
    width: 108px;
    height: 80px;
    background-image: url('../images/016/bottom_char1_mal.png');
    background-size: 100% 100%;
    padding: 16px 0 0 0px;
}

#P016 .content_bottom .bgCon .char1 .mal .top {
    text-indent: -19px;
}

#P016 .content_bottom .bgCon .char1 .mal .top .item {
    display: inline-block;
    width: 27px;
    height: 17px;
    background-image: url('../images/016/item02.png');
    background-size: 100% 100%;
    vertical-align: top;
}

#P016 .content_bottom .bgCon .char1 .mal .btm {
    text-indent: 19px;
}

#P016 .content_bottom .bgCon .char2 {
    position: absolute;
    bottom: 3px;
    right: 28px;
    width: 69px;
    height: 98px;
    background-image: url('../images/016/bottom_char2.png');
    background-size: 100% 100%;
}

#P016 .content_bottom .bgCon .char2 .mal {
    top: -45px;
    left: -34px;
    width: 96px;
    height: 50px;
    background-image: url('../images/016/bottom_char2_mal.png');
    background-size: 100% 100%;
    padding: 9px 0 0 0px;
}

#P016 .content_text p .hword2 {
    display: inline-block;
    font-size: 18px;
    color: #ee8032;
    margin-right: 23px;
}

#P016 #layerPop1{top:150px; right:60px; }
#P016 #layerPop1:before{left:460px; }

#P016 #layerPop2{
    top:150px; right:5px; 
    width:92%;
}
#P016 #layerPop2:before{left:580px; }

#P016 #layerPop1 ul li{margin-top:15px; padding-left:20px; position:relative;}
#P016 #layerPop1 ul li:first-child{margin-top:0; }
#P016 #layerPop1 ul li:before{content:''; display:block; width:26px; height:27px; background:url('../images/common/icon05.png') 0 0 no-repeat; background-size:100%; position:absolute; top:-6px; left:-15px; }
#P016 #layerPop2 ul{position:relative; margin-left:20px; }

#P016 #layerPop2 ul li{padding-left:30px; position:relative; float:left;}
#P016 #layerPop2 ul:before{content:''; display:block; width:22px; height:26px; background:url('../images/common/icon07.png') 0 0 no-repeat; background-size:100%; position:absolute; top:-6px; left:-15px; }
#P016 #layerPop2 ul li:before{content:'|'; display:block; width:22px; height:26px; background-size:100%; position:absolute; top:0px; left:12px; }
#P016 #layerPop2 ul li:first-child:before{content:''; }
#P016 #layerPop2 ul li button{font-size: 15.5px}


#P016 .widget.study2 {
    width: 128px;
    left: 44px;
}

#P016 .widget.study2 .content {
    width: 100%;
    text-align: justify;
}

#P016 .widget.study2 .content .hword {
    display: inline-block;
    font-size:12px;
    color: #428313;
}

#P016 .blankQuiz{
    position: relative;
    margin-left: 30px;
}

.blankQuiz .quizInputBox.check .quizInputAnswer{
    padding-left: 27px;
    top: 20px;
}

/**/
span.text_bold {
    font-weight: bold;
    font-family: "NanumBarunGothic";
    font-size: 16px;
}


.anscheckBtn{
    top:20px; 
    right:10px; 
}
.anscheckBtn:hover{
    background: url(../images/common/ans_check_on.png) 0 0 no-repeat;
    background-size: 100%;
}

/*toastPop*/

.innerbox span.inner_color{
    color: #ff6600;
}


/* 08-29 수정 */
.quizBox{margin-left:-30px;margin-top:-2px;}

.quizBox:last-child{margin-top:-13px;}

