/*Page21*/
*{
    font-family:'NanumBarunGothic'
}
#P021{
    padding:58px 0px 0px;
    padding-top:140px;
}

#P021 #top{
    margin-top:15px;
}

#P021 #body{
    margin-left:6px;
}

#P021.Page{
    background: url('../images/013/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: relative;
}

/*탐구활동*/
.actBox{
    position: absolute;
    width: 100%;
    left: 0;
    top: 58px;
}

/*박스 위 소제목*/

.box-title.act{
    left: 15px;
    position: relative;
    margin-bottom: 24px;
}

/*보기 박스*/
.databox{
    position: relative;
    top: 15px;
    height: 365px;
    z-index: 0;
}

.databox .box{
    width: 686px;
    height:310px;
    position: relative;
    z-index: 2;
    top: 0px;
    padding: 0px 8px;
}

.databox .box .box-num{
    width: 54px;
    height: 57px;
    color: #144d00;
    font-size: 14px;
    background: url('../images/015/databox_num.png') 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    top: -14px;
    left: 15px;
    text-align: center;
    text-indent: -4px;
    padding-top: 14px;
}

.databox .box .box-num span{
    font-size: 18px;
}

.databox .box .box-contents{
    position: relative;
}

.databox .box .box-contents > div{
    float: left;
    margin-left: 120px;
    margin-top: 3px;
}

.databox .box .box-contents .imagebox img{
    width: 460px;
}

.databox .box .box-contents .mal{
    position: absolute;
    font-size: 14px;
    text-align: center;
    word-break: keep-all;
    padding: 11px 0px;
    letter-spacing:-0.3px;
}

.databox .box .box-contents .mal.mal1{
    background: url('../images/021/mal1.png') 0 1px no-repeat;
    width: 145px;
    height: 115px;
    background-size: 100%;
    top: -80px;
    left: -105px;
}

.databox .box .box-contents .mal.mal2{
    background: url('../images/021/mal2.png');
    width: 140px;
    height: 105px;
    background-size:100%;
    top: -75px;
    left: 70px;
}

.databox .box .box-contents .char1{
    background: url(../images/021/char01.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top:195px;
    left: 30px;
    width: 100px;
    height: 120px;

}

.databox .box .box-contents .char2{
    background: url(../images/021/char02.png) no-repeat;
    background-size: 100%;
    position: absolute;
    width: 80px;
    height: 120px;
    top:190px;
    right: 130px;
    }




#quizBox01{
}

.quizBox .quizText .num{
    font-size: 25px;
}


.quizBox .quizText .text{
    letter-spacing: -0.8px;
    font-size: 15px;
    margin-top: 0px;
    font-weight:500;
}

.quizBox .quizText .text .gtext{
    color:#144d00;
}

.quizBox .imgChoiceBox{
    position: relative;
    width: 663px;
    height: 175px;
    margin: -6px 0 10px 29px;
}

.quizBox .essay textarea{
    border: none;
    background: #fff;
    resize: none;
    margin-left: 26px;
    width: 630px;
    height: 92px;
    margin-top: 0px;
    padding: 10px;
    font-size: 13px;
}

/*팝업 */

.selfcheckbox .content div.chk_wrap div.ans-input > ul{
    padding-top:12px;
}

.selfcheckbox .content div.chk_wrap div.ans-input .anstext{
    position: relative;
}

.selfcheckbox .content div.chk_wrap div.ans-input > ul > li:before{
    content:'';
    width:6px;
    height:6px;
    background-color:#7d7d7d;
    border-radius:50%;
    position:absolute;
    top:5px;
    left:12px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li:before{
    content:'';
    width:6px;
    height:6px;
    background-color:#7d7d7d;
    border-radius:50%;
    position:absolute;
    top:5px;
    left:7px;
}


.selfcheckbox .content div.chk_wrap div.ans-input > ul:before{
    content:'';
    width:1px;
    height:285px;
    border-left:1px dotted #ccc;
    position:absolute;
    top:47px;
}

.selfcheckbox .content div.chk_wrap div.ans-input > ul li ul:before{
    content:'';
    width:1px;
    height:99px;
    border-left:1px dotted #ccc;
    position:absolute;
    top:12px;
}

.selfcheckbox .content div.chk_wrap div.ans-input > ul > li{
    background-size:12px 1px;
    padding-left:29px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li{
    background:url(../images/common/chk_anng.png) no-repeat 0 7px ;
    background-size:12px 1px;
    padding-left:15px;
    font-size:15px;
    color:#2f2f2f;
    position:relative;
    margin-bottom:40px;
    letter-spacing:-0.6px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li:nth-child(1) > ul{
    position:absolute;
    left:89px;
    top:-1px;
    width:435px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li:nth-child(3) > ul{
    position:absolute;
    left:117px;
    top:15px;
    width:360px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li > ul > li{
    margin-bottom:30px;
}

.selfcheckbox .content div.chk_wrap div.ans-input li:nth-child(2) > ul ul{
    position:absolute;
    left:68px;
    top:-30px;
}

.selfcheckbox .content div.chk_wrap div.ans-input{
    position:relative;
    height:408px;
}

.actBox .actTitleBox .icons div.icon1{
    background: url(../images/021/icon01-.png) 0 0 no-repeat;
    background-size: 20px;
    background-position: center 5px;
}
.actBox .actTitleBox .icons div.icon2{
    background: url(../images/017/icon02-.png) 0 0 no-repeat;
    background-size: 20px;
    background-position: center 3px;

}
.actBox .actTitleBox .icons div.icon3{
    background: url(../images/021/icon03-.png) 0 0 no-repeat;
    background-size: 20px;
    background-position: center top;
        width: 41px;
        margin-left: 9px;
}
.actBox .actTitleBox .icons div.icon4{
    background: url(../images/021/icon04-.png) 0 0 no-repeat;
    background-size: 20px;
    background-position: center top;
    margin-left: 9px;
}

.pagenav{margin-top:-37px;margin-right:41px;}

.selfcheckbox .content div.chk_wrap{margin-bottom:39px;}

.swiper-container{overflow:visible;position:relative;top:-360px;}

.swiper-slide{padding:0px 35px;margin-top:380px;}

#quizBox02 .essay textarea{margin-top:25px;}
#quizBox03 .essay textarea{margin-top:15px;height:52px;}
#quizBox03 .essay .quizInputAnswer{width:94%;font-size:15px;}
.toastPop div.ans-input{
    padding: 15px !important;
    height: 328px !important;
}

.toastPop div.ans-input li > ul > li{
    margin-bottom: 15px !important;
}

.toastPop div.ans-input > ul li ul:before{
    height: 65px !important;
    top: 7px !important;
}

.toastPop div.ans-input > ul:before{
    height: 241px !important;
    top: 35px !important;
}

.toastPop div.ans-input span.ans{
    width: 280px;
    vertical-align: top;
    margin-left: 3px;
}

.an1{
    vertical-align:top;
}

.innerbox .ans{
    width:80%;
    display:inline-block;
}

#quizBox03 .quizTextBox{
    line-height:24px;
    margin-left: 20px;
    margin-top:10px;
    padding:10px 20px;
}

.r_txt{float:right;font-size:14px;}

/*아이템 이미지*/

.imgChoiceBox ul{

}

.imgChoiceBox ul li{position:absolute;cursor:pointer;z-index: 2;}

.imgChoiceBox ul li:nth-child(1){background:url(../images/021/item1.png) no-repeat 0 0;background-size:100%;width:105px;height:110px;top:13px;left:10px;z-index: 1;}
.imgChoiceBox ul li:nth-child(2){background:url(../images/021/item2.png) no-repeat 0 0;background-size:100%;width:43px;height:58px;top:16px;left:165px;}
.imgChoiceBox ul li:nth-child(3){background:url(../images/021/item3.png) no-repeat 0 0;background-size:100%;width:36px;height:50px;top:14px;left:240px;}
.imgChoiceBox ul li:nth-child(4){background:url(../images/021/item4.png) no-repeat 0 0;background-size:100%;width:50px;height:50px;top:15px;left:307px;}

.imgChoiceBox ul li:nth-child(5){background:url(../images/021/item5.png) no-repeat 0 0;background-size:100%;width:38px;height:43px;top:19px;left:398px;}

.imgChoiceBox ul li:nth-child(6){background:url(../images/021/item6.png) no-repeat 0 0;background-size:100%;width:30px;height:40px;top:21px;left:479px;}

.imgChoiceBox ul li:nth-child(7){background:url(../images/021/item7.png) no-repeat 0 0;background-size:100%;width:113px;height:112px;top:10px;right:10px;z-index: 1;}
.imgChoiceBox ul li:nth-child(8){background:url(../images/021/item8.png) no-repeat 0 0;background-size:100%;width:50px;height:18px;top:84px;left:158px;}

.imgChoiceBox ul li:nth-child(9){background:url(../images/021/item9.png) no-repeat 0 0;background-size:100%;width:48px;height:30px;top:78px;left:234px;}

.imgChoiceBox ul li:nth-child(10){background:url(../images/021/item10.png) no-repeat 0 0;background-size:100%;width:35px;height:40px;top:78px;left:318px;}
.imgChoiceBox ul li:nth-child(11){background:url(../images/021/item11.png) no-repeat 0 0;background-size:100%;width:38px;height:35px;top:126px;left:313px;}

.imgChoiceBox ul li:nth-child(12){background:url(../images/021/item12.png) no-repeat 0 0;background-size:100%;width:33px;height:33px;top:84px;left:476px;}

.imgChoiceBox ul li:nth-child(13){background:url(../images/021/item13.png) no-repeat 0 0;background-size:100%;width:43px;height:26px;top:129px;left:159px;}
.imgChoiceBox ul li:nth-child(14){background:url(../images/021/item14.png) no-repeat 0 0;background-size:100%;width:40px;height:36px;top:126px;left:234px;}
.imgChoiceBox ul li:nth-child(15){background:url(../images/021/item15.png) no-repeat 0 0;background-size:100%;width:30px;height:40px;top:76px;right:232px;}

.imgChoiceBox .carrier span{
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size:11px;
    color:#333;
}

.ansTextBox{
    position: relative;
}

.ansText{
    position: absolute;
    top: 23px;
    left: 5px;
    color: #ff6600;
}



.toastPop[data-pop="toast02"] .innerbox{
    text-align: justify;
    text-indent: 0px;
    line-height: 2;
    padding: 10px 15px 10px 29px;
}

.toastPop .innerbox li{
    color: #ff6600;
}

.toastPop .innerbox li .inner_color{
    font-weight:500;
}
.toastPop .innerbox>ul>li{
    list-style-type: disc;
}

