#P027{background:url(../images/027/top_bg.png) no-repeat 0 0;
background-size:100% 123px;}


#top{
    height:80px;
}

.Page .content_text .sub_txt{
    margin-top:11px;
    margin-left:5px;
}

.content_text p.text.left{
    float:left;
    width:375px;
}

.content_text p.rightImg{
    background:url(../images/027/con2.png) no-repeat 0 0;
    background-size:100%;
    width:118px;
    height:200px;
    float:left;
    margin-left:15px;
    margin-top:-54px;
}

.content_text span.icon{
    background: url(../images/026/ico-.png) no-repeat 0 3px;
    background-size: 100%;
    width: 23px;
    height: 18px;
    display: inline-block;
}

.content_text span.text.green{
    font-size:18px;
    color:#428313;
    font-weight:bold;
} 

.sub_txt .text{
    background:url(../images/027/item2.png) no-repeat 0 5px;
    background-size: 6px 6px;
    padding-left:10px;
}

.imageColums2.img1{
    padding-left:30px;
    margin-bottom:8px;
}


.widget{
    top:5px;
}

.widget.study2 .content{
    position:relative;
    text-align: justify;
    width: 125px;
}

.img1 .content{
    position:relative;
    text-align: justify;
    width: 200px;
    float:right;
    padding-left:15px;
}


.widget.study2 .content .icon,.content .icon{
    width:13px; 
    height:13px; 
    background:url(../images/common/subtexticon.png) 0 0 no-repeat;
    background-size:100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -2px;
}
.widget.study2 .content .icon2,.content .icon2{
    width:13px; 
    height:13px; 
    background:url(../images/common/subtexticon3-.png) 0 0 no-repeat;
    background-size:100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -2px;
    position: absolute;
    left: -4px;
}

.widget.study2 .img_wrap{
    width:133px;
    height:121px;
    border:1px solid #ccc;
    position:relative;
    text-align:center;
    padding-top:8px ;
    margin-bottom:10px;
}

.widget.study2 .img_wrap .imgTxt{
    text-align:center;
    font-size:12px;
    color:#242424;
    padding:0px;
    font-weight:500;
    text-indent:0px;
}

.widget.study2 .prevBtn{
    background:url(../images/027/widget_prev.png) no-repeat 0 0 ;
    background-size:100% 100%;
    width:13px;
    height:17px;
    position:absolute;
    top:50px;
    left:5px;
    text-indent:-9999px;
}

.widget.study2 .nextBtn{
    background:url(../images/027/widget_next.png) no-repeat 0 0 ;
    background-size:100% 100%;
    width:13px;
    height:17px;
    position:absolute;
    top:50px;
    right:5px;
    text-indent:-9999px;
}


.imageColums2.img1 .imgbox .content{
    position:relative;
    text-align: justify;
    width: 160px;
    float:right;
    padding-left:15px;
    font-size:11px;
    line-height:1.6;
    top:33px;
    left:20px;
}



.ir{
    color: #794f0e;
}

.content_text > p:nth-child(4){
    margin-bottom:-17px;
}



.img_wrap .slide-container{
    width:100%;
    height:100%;
    overflow:hidden;
}

.img_wrap .slide-container .slide-list{width:600%;height:100%;margin-left:-130px;}

.img_wrap .slide-container .slide-list li{width:16.6%;height:100%;float:left;}

.quizText{
    margin-bottom:16px;
}
.toastPop .innerbox{
    text-align: justify;
}

.innerbox ul{
    overflow:hidden;
}

.innerbox ul li{
    float:left;
    width:33%;
    font-size:14px;
    text-align:center;
    margin-bottom:10px;
}

.innerbox ul li img{
    display:block;
    width:130px;
    height:170px;
    margin:0 auto;
}