/*page029*/

#P029.Page{
    background:url(../images/029/bg.png) no-repeat 0 0;
    background-size:100% 100%;
    position:relative;
    padding:58px 35px 0px 0px;
}

#P029 .page_base{
    background:url('../images/029/page_bg.png') no-repeat 0 0;
    background-size:100% 100%;
    width:734px;
    height:856px;
    box-sizing:border-box;
    position:relative;
    margin-top:61px;
}

#P029 .page_title{
    color: #636363;
    font-size: 40px;
    padding-top: 32px;
    margin-left: 41px;
    letter-spacing: 3px;
}

#P029 .page_title span.point{
    color: #ff9d12;
    background: url(../images/029/ico_1.png) no-repeat 8px 4px;
    background-size: 36px 22px;
    padding-top: 21px;
}

#P029 .act_title{
    background:url(../images/029/ass_title.png) no-repeat 0 0;
    background-size:100% 100%;
    width:198px;
    height:106px;
    position:absolute;
    right: -15px;
    top: -27px;
}

#P029 .act_title .title{
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 28px;
    bottom: 17px;
    font-weight: bold;
    letter-spacing: 4px;
}

#P029 .act_title .unit_title{
    color: #fff;
    text-align: center;
    font-size: 16px;
    width: 56px;
    position: absolute;
    right: -5px;
    top: 8px;
    line-height: 13px;
    letter-spacing: 3px;
}

#P029 .content_box{
    margin-left:39px;
    margin-top:37px;
    padding-right:33px;
}

#P029 .content_box .cont{
    overflow:hidden;
    margin-bottom:25px;
}

#P029 .content_box .cont .title{
    background:url('../images/029/sub_title.png') no-repeat 0 0;
    background-size: 141px 50px;
    width: 147px;
    height: 50px;
    color: #fff;
    font-size: 17px;
    padding: 17px 23px;
    letter-spacing: 1.6px;
    float: left;
}

#P029 .content_box .cont .text{
    width: 510px;
    float: left;
    margin-top: 4px;
    letter-spacing: -0.4px;
    font-size: 14px;
    line-height: 1.6;
}

#P029 .content_box .cont .text span.pd_l{
    color:#000;
    padding-left:15px;
}

#P029 .content_box .cont .text .plus{
    background-color:#ebebeb;
    width:492px;
    height:54px;
    border-radius:12px;
    margin-top:11px;
    float:right;
    position:relative;
}

#P029 .content_box .cont .text .plus .circle{
    border-radius: 50%;
    background: #6c6c6c;
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.29);
    position: relative;
    top: 7px;
    left: -26px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 33px;
}


#P029 .content_box .cont .text .plus .text{
    font-size:13px;
    width:461px;
    position:absolute;
    top:4px;
    right:13px;
    line-height:20px;
    color:#000;
}

#P029 .content_box .cont .text span.num{
    font-size: 25px;
    color: #f59000;
    font-weight: bold;
    position: relative;
    top: 5px;
    left: -3px;
}

#P029 .content_box .cont .text span.txt{
    font-size: 15px;
    margin-left: 15px;
    position: relative;
    top: 5px;
    left: -8px;
    letter-spacing: -0.6px;
}


#P029 .pagenav{
    margin-right: 1px;
    margin-top: 5px;
}

#P029 .pagenav ul{
    float:left;
    margin-top:13px;
}

#P029 .pagenav .pageicon{
    margin-top: 8px;

}

#P029 .swiper-container{
    height:155px;
    margin-top:20px;
    position:relative;
    top:-60px;
}

#P029 .swiper-container .swiper-wrapper{
}


#P029 .swiper-container .swiper-wrapper .swiper-slide{
}

#P029 .swiper-slide .file-table{
    border-collapse:collapse;
    table-layout:fixed;
}

#P029 .swiper-slide .file-table thead tr th{
    background:#888;
    color:#fff;
    font-size:13px;
    border-top:2px solid #aeaeae;
    border-bottom:2px solid #aeaeae;
    padding:6px 0px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1;
}


#P029 .swiper-slide .file-table tbody tr th{
    color:#383838;
    text-align:center;
    font-size:13px;
    border-bottom:2px solid #aeaeae;
    padding:4px;
    letter-spacing:0px;
    font-weight: normal;
    line-height: 16px;
}

#P029 .swiper-slide .file-table tbody tr th:nth-child(2){
    text-align:left;
    padding-left:8px;
}

#P029 .swiper-slide .file-table thead tr th:first-child,#P029 .swiper-slide .file-table tbody tr th:first-child{
    border-right:2px solid #aeaeae;
}

#P029 .input-table{
    border-collapse:collapse;
    table-layout:fixed;
    margin-top:5px;
}

#P029 .input-table thead tr th{
    background:#888;
    color:#fff;
    font-size:13px;
    border-top:2px solid #aeaeae;
    border-bottom:2px solid #aeaeae;
    border-right:2px solid #aeaeae;
    padding:4px 0px 0px 0px;
}

#P029 .input-table tbody th{
    text-align:center;
    padding:1px 0px;
    border-bottom:2px solid #aeaeae;
    border-right:2px solid #aeaeae;
}


#P029 .input-table tbody th:last-child,#P029 .input-table thead th:last-child{
    border-right:0px;
    border-right:0px;
}

#P029 .input-table tbody th.que{
    text-align:left;
    font-size:12px;
    color:#383838;
    padding:4px 0px 0px 13px;
    font-family:"NanumBarunGothic";
    font-weight: normal;
}

#P029 .input-table tbody th label span{
    display:inline-block;
    width:19px;
    height:19px;
    background:url(../images/029/chk_off.png) no-repeat 1px 1px;
    background-size:100% 100%;
    cursor:pointer;
    position:relative;
    top:4px;
}

input{
    display:none;
}

input:checked + label span{
    width:19px!important;
    height:19px!important;
    background:url('../images/029/chk_on.png') no-repeat 0 0!important;
    background-size:100% 100%!important;
}
#P029 .final ul{
    overflow:hidden;
    float:right;
    margin-right:31px;
    margin-top:-7px;
}

#P029 .final ul li{
    float:left;
    font-size:15px;
    line-height:23px;
    color:#838383;
    letter-spacing:-0.3px;
    margin-right:9px;
}

#P029 .final ul li span{
    font-size:9px;
    color:#d8d8d8;
    margin-left:3px;
}

#P029 .final ul li:first-child{
    margin-right:8px;
}

#P029 .final ul li.test a{
    text-decoration:none;
    display:block;
    background:url(../images/029/ico_2.png) no-repeat 0 0;
    background-size:100% 100%;
    width:76px;
    height:23px;
    color:#fff;
    text-align:center;
    font-size:12px;
    line-height:23px;
    cursor:pointer;
}
/**/

.ex_icon{
    display: inline-block;
    background: url(../images/029/ex_icon.png) no-repeat;
    background-size: 100%;
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.con_img{
    background: url(../images/029/con3.png) no-repeat;
    background-size:  100%;
    width: 435px;
    height: 100%;
    float: left;
}